<div class="container">
    <table class="table" style="width: 500px;">
        <tr>
            <td>
                <label>UserId</label>
            </td>
            <td>
                <input type="number" [(ngModel)]="userId" class="form-control">
            </td>
            <td>
                <button class="btn btn-primary" (click)="search()">Search</button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <span style="color: red;">{{errMsg}}</span>
            </td>
        </tr>
    </table>
    <hr>
    <table class="table" *ngIf="isorderExist">
        <div class="row mt-2">
            <div *ngFor="let item of order" [ngClass]="grid ? 'col-12' : 'col-12'">
                <!-- <div class="my-2" style="border: 1px solid;">ProductId:{{item.productId}}</div> -->
                <div class="my-2" style="border: 1px solid;">OrderID:{{item.orderId}}</div>
                <div class="my-2" style="border: 1px solid;">OrderDate:{{item.orderDate}}</div>
                <!-- <div class="my-2" style="border: 1px solid;">BrandId:{{item.brandId}}</div> -->
                <!-- <div class="my-2" style="border: 1px solid;">Available:{{item.available}}</div> -->
                <br>
            </div>
        </div>

    </table>
</div>


