<div class="container">

	<button class="btn btn-secondary mx-2" (click)="sortProduct('asc')">Price:Low to High</button>
	<button class="btn btn-secondary mx-2" (click)="sortProduct('desc')">Price:High to Low</button>

	<!-- <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="grid">
		<label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="true"> Grid
  </label>
		
	</div> -->

	<div class="row mt-2">
		<div *ngFor="let item of products" [ngClass]="grid ? 'col-12' : 'col-12'">
			<div class="my-2" style="border: 1px solid;">ProductId:{{item.productId}}</div>
            <div class="my-2" style="border: 1px solid;">
              <img src="http://localhost:5254/Resources/Images/{{item.image}}" alt="" width="550" height="450">
            </div>
            
            <div class="my-2" style="border: 1px solid;">Product Name:{{item.name}}</div>
            <div class="my-2" style="border: 1px solid;">Price{{item.price}}</div>
            <!-- <div class="my-2" style="border: 1px solid;">{{item.available}}</div> -->
            <!-- <div class="my-2" style="border: 1px solid;">{{item.brandId}}</div> -->
            
			<td>
                <select (change)="selectQty($event)">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
				          <option>4</option>
                  <option>5</option>
                  <option>6</option>
				          <option>7</option>
                  <option>8</option>
                </select>

              </td>

			  <td><button (click)="addToCart(item.productId)">Add to Cart</button></td>
		</div>
	</div>

  

</div>