
<div class="container">
  <table class="table">
    <tr>
      <td>
        <label>Cart ID</label>
      </td>
      <td>
        <input type="number" [(ngModel)]="cartId"  class="form-control">
      </td>
      <td>
        <button class="btn btn-primary" (click)="search()">Search</button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <span style="color: red;">{{ errMsg }}</span>
      </td>
    </tr>
  </table>
  <hr>
  <table class="table" *ngIf="isCartExist">
    <tr>
      <td>Cart ID</td>
      <td>
        <input type="number" [(ngModel)]="cartItem.cartId" class="form-control">
      </td>
    </tr>
    <tr>
      <td>User ID</td>
      <td>
        <input type="number" [(ngModel)]="cartItem.userId" class="form-control">
      </td>
    </tr>
    <tr>
      <td>Product ID</td>
      <td>
        <input type="number" [(ngModel)]="cartItem.productId" class="form-control">
      </td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td>
        <input type="number" [(ngModel)]="cartItem.quantity" class="form-control">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button class="btn btn-primary" (click)="edit(cartItem.cartId)">Edit</button> &nbsp;
        <!-- <button class="btn btn-primary" (click)="deleteCartItem(cartItem.cartID)">Delete</button> -->
      </td>
    </tr>
  </table>
</div>